/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.myNavbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  z-index: 20;
}
.myNavbar a {
  text-decoration: none;
}
.myNavbar-landing {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}
.myNavbar-list {
  display: flex;
}
.myNavbar-list .myNavbar-link {
  color: #000000;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.myNavbar-list .dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 20;
  padding: 15px 0px;
  width: 125px;
}
.myNavbar-list .dropdown .myNavbar-link {
  padding: 0 10px;
}
.myNavbar-list .dropdown .has-children {
  position: relative;
}
.myNavbar-list .dropdown .has-children:hover .dropdown-sub {
  opacity: 1;
  visibility: visible;
}
.myNavbar-list .dropdown .has-children .dropdown-sub {
  opacity: 0;
  visibility: hidden;
  width: 140px;
  position: absolute;
  left: 100%;
  border: 3px solid whitesmoke;
  transition: all 0.2s linear;
  z-index: 20;
}
.myNavbar-list .dropdown .has-children .dropdown-sub .myNavbar-link {
  padding: 15px;
  font-size: bold;
}
.myNavbar-item.has-children {
  position: relative;
}
.myNavbar-item.has-children .dropdown {
  transition: all 0.2s linear;
  border: 3px solid whitesmoke;
}
.myNavbar-item.has-children .dropdown li {
  padding: 10px 0;
}
.myNavbar-item.has-children:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
.myNavbar .sign {
  padding: 8px 22px;
  border: 1px solid #000000;
  border-radius: 100rem;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.myNavbar .register {
  font-size: 16px;
  color: white;
  background-color: #107BE9;
  padding: 8px 22px;
  border-radius: 100rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.myNavbar .user {
  color: cadetblue;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  border-radius: 100rem;
  display: block;
  text-align: center;
  line-height: 35px;
}

.home {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.home .dots {
  position: absolute;
  right: 0;
  top: 25%;
}
.home-title {
  max-width: 35rem;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 5rem 0;
}
.home-title .untree {
  color: aqua;
}
.home-content-welcome {
  color: #107BE9;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
}
.home-content-explore {
  padding: 1rem 0 1.5rem 0;
  font-size: 35px;
  font-weight: bold;
}
.home-content-far {
  line-height: 1.5;
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
}
.home-content-button .button-left {
  padding: 1.5rem 3rem;
  border-radius: 100rem;
  background: #107BE9;
  border-color: #107BE9;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.home-content-button .button-right {
  padding: 1.5rem 3rem;
  border-radius: 100rem;
  color: #107BE9;
  border-color: #107BE9;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.advantage {
  padding: 10rem 0;
}
.advantage .head .caption {
  color: #107BE9;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}
.advantage .head .heading {
  font-size: 4rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.advantage .head .content {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.advantage .service {
  padding: 15px;
}
.advantage .service .service-icon {
  margin-right: 3rem;
}
.advantage .service .service-icon i {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #6fe7dd;
  font-size: 2.5rem;
  text-align: center;
  line-height: 4.5rem;
  display: block;
  color: white;
  border-radius: 30%;
}
.advantage .service .service-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.advantage .service .service-content p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.advantage .service .service-content p:last-child {
  font-size: 1.4rem;
  color: #107BE9;
  box-shadow: 1px 1px 2px 0px;
  letter-spacing: 1px;
  display: inline;
  cursor: pointer;
}

.digital {
  padding: 10rem 0;
}
.digital .caption {
  color: #107BE9;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.digital .heading {
  font-size: 3.8rem;
  color: #000000;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.digital .wrap-icon-play {
  top: 45%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 50%;
}
.digital .bi-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
