.list {
    li {
        line-height: 31px;
        font-size: $fs-1 + 0.1;
        i {
            color: $color-blue-0;
            margin-right: 5px;
        }
        margin-bottom: $mg-4;
    }
}