body,
html {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}
// .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev
.testimonials {
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: -60%;
            left: 45%;
            margin-top: 0;
            // .owl-theme .owl-nav [class*=owl-]:hover 
            [class*=owl-] {
                &:hover {
                    background-color: $color-blue-0;
                    color: white;
                }
            }
            button.owl-next,
            button.owl-prev {
                color: $color-blue-0;
                border-radius: 20px;
                span {
                    border-radius: 20px;
                    font-size: 50px;
                    display: block;
                    padding: 0px 20px;
                    border: 1px solid $color-gray;
                }
            }
        }
    }
    .owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    width: 9px;
                    height: 9px;
                }
            }
        }  
    }
}

