// Color
$color-blue-0: #007bff;
$color-blue-1: #107BE9;
$color-blue-2: rgba(16, 123, 233, 0.07);
$color-black: #000000;
$color-black-light: #18233F;
$color-white: #ffffff;
$color-gray: #efefef;
$color-gray-light: #ADADAD;
// margin
$mg-1: 10rem;
$mg-3: 3rem;
$mg-4: 1rem;
$mg-5: 2rem;

// padding
$pd-1: 10rem;
$pd-2: 5rem;
$pd-3: 3rem;
$pd-4: 6rem;
$pd-5: 8rem;

// Fontsizegi
$fs-1: 1.5rem;
$fs-2: 2rem;
$fs-3: 4rem;
$fs-4: 4rem;
$fs-5: 3rem;
$fs-6: 6rem;
// font-weight
$fw-600: 600;
$fw-700: 700;
$fw-400: 400;
