// Color
$color-blue-0: #007bff;
$color-blue-1: #107BE9;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #efefef;
// margin
$mg-1: 100px;
$mg-3: 30px;
$mg-4: 10px;

// padding
$pd-1: 100px;
$pd-2: 50px;
$pd-3: 30px;
$pd-4: 60px;
$pd-5: 80px;

// Fontsize
$fs-1: 13px;
$fs-2: 20px;
$fs-3: $fs-1 * 3;
$fs-4: 40px;
$fs-5: 30px;
$fs-6: 60px;
// font-weight
$fw-600: 600;
$fw-700: 700;
$fw-400: 400;
