.blog {
    &__item {
        background-color: white;
        padding: 3rem;
        &__title {
            margin-bottom: 2rem;
            display: flex;
           span:first-child {
            width: 20%;
            margin-right: 2rem;
           } 

           span:last-child {
            h5,p {
                font-size: 1.7rem;
            }

            h5 {
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
           }
        }

        &__text {
            span {
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }
        }
    }
    
    
}