.contact {
    .form-group {
        margin-bottom: 2rem;
        label {
            font-size: 1.6rem;
            color: $color-black-light;
            margin-bottom: 1rem;
        }

        input {
            padding: 2rem 0;
        }
    }

}