.home {
    padding-top: 5rem;
    padding-bottom: 10rem;

    .dots {
        position: absolute;
        right: 0;
        top: 25%;
    }

    &-title {
        max-width: 50rem;
        margin: 0 auto;
        line-height: 1.2;
        font-size: 3.5rem;
        font-weight: bolder;
        padding: 5rem 0;

        h2 {
            line-height: 1;
            font-weight: 700;
            color: #000000;
            margin-bottom: 30px;
            font-size: clamp(2rem, 2.5vw, 4rem);
            font-family: "Work Sans", sans-serif;
        }

        .untree {
            color: #107BE9;
        }
    }

    &-content {
        &-welcome {
            color: #107BE9;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            font-family: "Work Sans", sans-serif;
            line-height: 1.6;
            letter-spacing: 0;
        }

        &-explore {
            padding: 1rem 0 1.5rem 0;
            font-size: 35px;
            font-weight: bold;
            font-family: "Work Sans", sans-serif;
        }

        &-far {
            line-height: 1.5;
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 2rem;
            letter-spacing: 0.05rem;
        }

        &-button {
            font-family: "Work Sans", sans-serif;
            .button-left {
                font-size: 1.2rem;
                padding: 1.5rem 3rem;
                border-radius: 100rem;
                background: #107BE9;
                border-color: #107BE9;
                color: white;
                // font-size: 1rem;
                font-weight: $fw-700;
                letter-spacing: 0;
            }

            .button-right {
                padding: 1.5rem 3rem;
                border-radius: 100rem;
                color: #107BE9;
                border-color: #107BE9;
                background-color: white;
                font-size: 1.2rem;
                font-weight: $fw-700;
                letter-spacing: 0;

            }
        }
    }
}